.footer {
    background-color: #23409b;
    color: white;
    padding: 40px 20px;
  
    .container {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: auto;
      flex-wrap: wrap;
    }
  
    .section {
      flex: 1;
      min-width: 250px;
      margin: 10px;
  
      h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 14px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        gap: 8px;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 5px;
  
          a {
            text-decoration: none;
            color: white;
            font-size: 14px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  
    .bottom {
      display: flex;
      justify-content: space-between;
      background-color: #0d1c49;
      padding: 15px;
      font-size: 12px;
      text-align: center;
  
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  